@use './partials/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');

$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';


// HEADER

// .navbar {
//     --bs-navbar-active-color: $header_btn_bg;
// }

.gold_btn {
    background-color: $header_btn_bg;

    &:hover {
        background-color: $header_btn_bg_hover;
    }
}

// MAIN

#every_moment_counts_left h2 {
    color: $h2_color;
}

#recent_causes_container-top h2 {
    color: $h2_color;
}

#latest_articles_container h2 {
    color: $h2_color;
}

#every_moment_counts_left,
#recent_causes_container-top,
#latest_articles_container p {
    color: $p_color;
}